@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {box-sizing: border-box;}
button, input, textarea {
  all: unset;
  box-sizing: border-box;
}
button {cursor: pointer}
p, h1, h2, h3, h4, h5, h6 {margin: 0}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  overscroll-behavior: none;

  #root {
    min-height: 575px;
    height: 100dvh;
    width: 100dvw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
// index.scss

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto; // Center the spinner
}

/* Mobile devices */
@media screen and (max-width: 600px) {
  body #root {min-width: 320px;}
}

/* iPads, Tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
  body #root {min-width: 601px;}
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body #root {min-width: 769px;}
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body #root {min-width: 1025px;}
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1201px) {
  body #root {min-width: 1201px;}
}