.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 20px;

  .carousel-nav {
    clip-path: polygon(0 0, calc(99% - 10px) 0, calc(100% - 10px) 100%, 0 100%);
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: inset 0 0 1px 1px #cdd3e4;

    .carousel-nav-btn {
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #516395;
      transition: 0.25s ease-in-out background-color;

      &:hover {background-color: #ecf9f1;}
    }
    .pnp-btn {
      white-space: nowrap;
      padding: 10px;
    }

    .sep {
      height: 60%;
      width: 1px;
      background-color: #cdd3e4;
    }
  }

  .carousel-images {
    flex: 1;
    width: 100%;
    border-radius: 10px;
    //background-color: white;
  }
}

/* Mobile devices */
@media screen and (max-width: 600px) {
  .carousel {
    padding: 10px;
    .carousel-nav {
      clip-path: unset;
      height: 35px;
      border-radius: 5px;
      .carousel-nav-btn {font-size: 10px;}
      .pnp-btn {padding: 5px;}
    }
  }
}

/* iPads, Tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .carousel {
    padding: 15px 0 15px 10px;
    .carousel-nav {
      clip-path: polygon(0 0, calc(99% - 5px) 0, calc(100% - 5px) 100%, 0 100%);
      height: 30px;
      .carousel-nav-btn {font-size: 8px;}
      .pnp-btn {padding: 5px;}
    }
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .carousel {
    padding: 15px 0 15px 15px;
    .carousel-nav {
      clip-path: polygon(0 0, calc(99% - 5px) 0, calc(100% - 5px) 100%, 0 100%);
      height: 35px;
      .carousel-nav-btn {font-size: 11px;}
    }
  }
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1201px) {
  .carousel {
    animation: scrollAnimation 1s ease-in-out;
  }
}

@keyframes scrollAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
