.logo-placeholder {
    width: 100px; // Adjust as needed
    height: 50px; // Adjust as needed
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; // Placeholder background color
    border-radius: 5px;
  }
  